# Smithbox files
.smithbox/*

# Backup and cache files
*.bin.prev
*.dcx.bak
*.dsasbak
chr/_DSAS_CACHE/*
chr/_DSAS_WORKSPACE.json

# Unpacked dcx files
chr/c0000-behbnd-dcx/*
chr/c0000_a2x-anibnd-dcx/*

# Other files
*.lnk
*.mp4
*.zip
*.7z
